@model A2ZMOVIES.ViewModel.CosumerViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin:20px">
    @{
        if (@Model.Customers.id == 0)
        {
            <p class="btn btn-primary btn-large">Create New Customer</p>

        }
        else
        {
            <p class="btn btn-primary btn-large">Edit Customer</p><br /> <br />

        }

    }
    @Html.ValidationSummary(true, "Please Fill The Require Field")
    @using (Html.BeginForm("Save", "Customer"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Customers.Name)
            @Html.TextBoxFor(m => m.Customers.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Customers.Name)
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.Customers.MemberShipTypeId)
            @Html.DropDownListFor(m => m.Customers.MemberShipTypeId, new SelectList(Model.MemberShipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Customers.MemberShipTypeId)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Customers.DateOfBrith)
            @Html.TextBoxFor(m => m.Customers.DateOfBrith, "{0:d MMM yyyy}", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Customers.DateOfBrith)
        </div>

        <div class="checkbox">
            @Html.CheckBoxFor(m => m.Customers.IsSubcribedToNewsletter) Subcribe to Newsletter
        </div>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Customers.id)

        <button type="submit" class="btn  btn-success"> Save </button>

    }

    @section Scripts
{
        @Scripts.Render("~/bundles/jqueryval")
    }
